* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    min-height: 100vh;
}

header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;      
      background-color: aliceblue;
      position: sticky;
      width: 100%;
      top: 0;
      border-style: solid;
      border-color: black;
      border-bottom-width: 2px;
}

.header_left {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header_left a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-small;
    text-decoration: none;
}

.header_logo {
    width: 30px;
    color: rgba(255,255,255,0);
    mix-blend-mode: multiply;
}



.header_center {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.header_center a {
    color: black;
    padding: 5px;
    text-decoration: none;
    align-self: center;
}

.header_center a:hover {
    color: rgb(168, 146, 248);
}

.header_right {
    justify-content: right;
}

.page_header {
    text-decoration: underline;
    margin-bottom: 10px;
}
section {
    padding: 15px;
    border-radius: 10px;
    background-color: aqua;
    margin-bottom: 15px;
}

section a {
    text-decoration: none;
    color: black;
}

section h1 {
    color: rgb(24, 17, 17);
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding: 10px;
    height: auto;
    margin-bottom: 30px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px;
    padding: 3px;
}
td {
    vertical-align: top;
}


footer {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    padding: 4px;
    justify-content: center;
    height: 35px;
    bottom: 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

footer a{
    padding: 8px;
    align-self: bottom;
}

ul {
    margin: 20px;
}

code {
    color: greenyellow;
    background-color: black;
    margin: 5px;
    display:flex;
    width: fit-content;
    overflow: auto;
    max-width: 80%;
    padding: 3px;
}